.bibliography {
    h2 {
        font-family: 'Bree Serif', serif;
        text-align: center;
        color: #7D0636;
        margin-bottom: 2rem;
    }

    h3 {
        margin-bottom: 1rem;
    }

    li {
        font-family: 'Roboto', sans-serif; 

        a {
            color: #7D0636;
        }
        span {
            font-style: italic;
        }
    }
}