/* font-family: 'Bree Serif', serif;
font-family: 'Roboto', sans-serif; */

body {
    background-color: #D0CDCC;
    color: #485455;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-author {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 7px solid black;
    margin-bottom: 4rem;
    
}

.primary-heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
    letter-spacing: 0.3rem;
    // margin: 2rem;
}

.btn-lang {
    width: 10rem;
    color: #485455;
    border: 4px solid currentColor;
    border-radius: 0;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 2rem;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;

    &:hover {
        color: #7D0636;
    }
}

